# Investigation into $t(R)$ with $C, V = \mathrm{const.}$

This investigation investigates how "dwell time" varies while resistance and capacitance is held constant.

First, an analytical analysis into the dwell time is found:

In [21]:
import sympy as sp
import pandas as pd
import numpy as np

$$
\frac{dq}{dt} = \frac{V}{R} = \frac{2 kq}{R}
$$

In [7]:
k, R, t = sp.symbols("k R t")

In [6]:
q = sp.Function("q")(t)

In [30]:
eq = sp.Eq(q.diff(t), (2 * k * q) / (R ** 2))
eq

Eq(Derivative(q(t), t), 2*k*q(t)/R**2)

In [12]:
eq_sol = sp.dsolve(eq)
eq_sol

Eq(q(t), C1*exp(2*k*t/R**2))

In [16]:
q_var = sp.Symbol("q")

In [20]:
solve_eq = sp.Eq(q_var, eq_sol.rhs)
solve_eq

Eq(q, C1*exp(2*k*t/R**2))

In [32]:
# solve for t
t_sol = sp.solve(solve_eq, t)[0]
t_sol

R**2*log(-sqrt(q/C1))/k

In [35]:
sp.plot()

AttributeError: 'Mul' object has no attribute 'sub'

Then, experimental data is collected with varying resistance and constant capacitance and voltage. Following each test, the capacitor was discharged fully. The experimental data collected was as follows:

In [40]:
data = [
    [0, 38],
    [2.9, 38],
    [5, 47],
    [10, 34],
    [20, 25]
    #[35]
]

In [42]:
df = pd.DataFrame(data, columns=["R", "t"])
df

      R   t
0   0.0  38
1   2.9  38
2   5.0  47
3  10.0  34
4  20.0  25